/* This is a stylesheet with all css specifications for elements in home.html and about.html
 * I have included some undefined elements below to give an idea of some things that can be defined
 */

/* define properties for the body element
 * hex code for our blue-grey is 607d8b (thinking for nav bar and accents)
 * hex code for white is ffffff (main page color)
 */
body {
    background-color: #ffffff;
    margin: 0px;
    min-height:100%;
    position:relative;

}

body::after{ content:''; display:block; height:100px; }

/* define properties for paragraphs */
p {
    margin: 10px;
}
/* define properties for heading 1 text */
h1 {
    font-weight: bold;
    text-align: center;
    font-size: xx-large;
    color: white;
}
/* define properties for lower headings */
h2, h3, h4 {
    font-weight: bold;
    text-align: center;
    font-size: xx-large;
    color: black;

}
pTitle {
    background-color: #607d8b;
    margin: 0px;
    font-weight: bold;
    font-size: xx-large;
    color: #ffffff;
}
/* define an id called navbar */
navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    position: relative;
    padding: 0px 5%;
    background-color: #607d8b;
}
/* define the properties of links within the navbar id */
navbar a {
    margin: 30px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 700;
}
/* define the properties of visited links within the navbar id */
#navbar a:link, a:visited {

}
/* define the properties that are hovered over within the navbar id */
#navbar a:hover {

}
/* define the properties of active links within the navbar id */
#navbar a.active {

}
/* define a class called flex container*/
.flex-container {

}
/* define a class for links that have been visited */
a:link, a:visited {

}
/* define a class for links when the mouse hovers on them or they're active */
a:hover, a:active {

}

.row {
    text-align: center;
    padding-top: 2em;
}

.blue_accent{
  background-color: #607d8b;
}


.footer{
  position:absolute;
  bottom:0;
  width:100%;
  height:100px;
  background-color: #607d8b;
}






